body {
  background: url(https://www.hages.se/assets/uploads/products/3043/700_772unifi_ap_ac_lite_hero_gallery_04.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
